<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>清溪微论-管理</title>
    <script src="../../jQuery/jquery.min.js"></script>
    <script src="../../bootstrap/js/bootstrap.js"></script>
    <link rel="stylesheet" href="../../bootstrap/css/bootstrap-theme.css">
    <link rel="stylesheet" href="../../bootstrap/css/bootstrap.css">
    <script src="../../sys/js/index.js"></script>
</head>
<body>
<div class="header">
    <ul class="nav nav-pills" style="position: fixed;">
        <li role="presentation" class="active"><a href="#indexInfo">首 页</a></li>
        <li role="presentation" id="userClick"><a href="#userInfoManage">用户管理</a></li>
        <li role="presentation"><a href="#postInfoManage">文章管理</a></li>
        <li role="presentation"><a href="#commentInfoManage">评论管理</a></li>
        <li role="presentation"><a href="#collectInfoManage">收藏管理</a></li>
        <li role="presentation"><a href="#resourceInfoManage">资源管理</a></li>
        <li role="presentation"><a href="#greatInfoManage">（赞）管理</a></li>
        <li role="presentation"><a href="#linkInfoManage">链接管理</a></li>
        <li role="presentation"><a href="#topicTypeInfoManage">主题类型</a></li>
        <li role="presentation"><a href="#attentionInfoManage">关注管理</a></li>
    </ul>
</div>
<div class="center">
    <div id="index" class="indexInfo navigationShow">
        <div class="jumbotron">
            <h1>微论论坛后台欢迎您!</h1>
            <p>
                您好，欢迎来到微论论坛后台管理页面
            <hr/>
            </p>
            <p>
                您好，欢迎来到微论论坛后台管理页面
            <hr/>
            </p>
            <p>
                您好，欢迎来到微论论坛后台管理页面
            <hr/>
            </p>
            <p>
                您好，欢迎来到微论论坛后台管理页面
            <hr/>
            </p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">查看更多</a></p>
        </div>
    </div>
    <div id="userInfoManage" class="userInfo navigationHide">
        <div style=" display: block;height: 600px;width: 100%;
        background-color: #d5d5d5;border: #0f0f0f solid 2px;">
            <h1 style="color: aqua">用户管理</h1>
        </div>
    </div>
    <div id="postInfoManage" class="postInfo navigationHide">
        <div style=" display: block;height: 600px;width: 100%;
        background-color: #d5d5d5;border: #0f0f0f solid 2px;">
            <h1 style="color: aqua">文章管理</h1>
        </div>
    </div>
    <div id="commentInfoManage" class="commentInfo navigationHide">
        <div style=" display: block;height: 600px;width: 100%;
        background-color: #d5d5d5;border: #0f0f0f solid 2px;">
            <h1 style="color: aqua">评论管理</h1>
        </div>
    </div>
    <div id="greatInfoManage" class="greatInfo navigationHide">
        <div style=" display: block;height: 600px;width: 100%;
        background-color: #d5d5d5;border: #0f0f0f solid 2px;">
            <h1 style="color: aqua">点赞管理</h1>
        </div>
    </div>
    <div id="linkInfoManage" class="linkInfo navigationHide">
        <div style=" display: block;height: 600px;width: 100%;
        background-color: #d5d5d5;border: #0f0f0f solid 2px;">
            <h1 style="color: aqua">链接管理</h1>
        </div>
    </div>
    <div id="topicTypeInfoManage" class="topicTypeInfo navigationHide">
        <div style=" display: block;height: 600px;width: 100%;
        background-color: #d5d5d5;border: #0f0f0f solid 2px;">
            <h1 style="color: aqua">主题管理</h1>
        </div>
    </div>
    <div id="resourceInfoManage" class="resourceInfo navigationHide">
        <div style=" display: block;height: 600px;width: 100%;
        background-color: #d5d5d5;border: #0f0f0f solid 2px;">
            <h1 style="color: aqua">资源管理</h1>
        </div>
    </div>
    <div id="collectInfoManage" class="collectInfo navigationHide">
        <div style=" display: block;height: 600px;width: 100%;
        background-color: #d5d5d5;border: #0f0f0f solid 2px;">
            <h1 style="color: aqua">收藏管理</h1>
        </div>
    </div>
    <div id="attentionInfoManage" class="attentionInfo navigationHide">
        <div style=" display: block;height: 600px;width: 100%;
        background-color: #d5d5d5;border: #0f0f0f solid 2px;">
            <h1 style="color: aqua">关注管理</h1>
        </div>
    </div>
</div>
<div class="footer">

</div>
</body>
</html>